<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiziplus.springboot.mapper.data.dictionary.DataDictionaryAbnormalIpMapper">
    <select id="getOneInfoByIp" resultType="DataDictionaryValue">
        SELECT *
        FROM data_dictionary_value
        WHERE dictionary_code = 'abnormalIp' AND `value` = #{ip}
        LIMIT 1
    </select>
    <select id="getList" resultType="DataDictionaryValue">
        SELECT *
        FROM data_dictionary_value
        WHERE dictionary_code = 'abnormalIp'
        ORDER BY `order` DESC
    </select>
</mapper>