<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiziplus.springboot.core.pc.system.mapper.UserLogMapper">
    <select id="getList" resultType="com.weiziplus.springboot.core.pc.system.vo.LogVo">
        SELECT ul.*,u.username
        FROM user_log ul ,`user` u
        <where>
            ul.user_id = u.id
            <if test="null != username and '' != username">
                AND POSITION(#{username} IN u.username)
            </if>
            <if test="null != url and '' != url">
                AND ul.url = #{url}
            </if>
            <if test="null != type">
                AND ul.type = #{type}
            </if>
            <if test="null != description and '' != description">
                AND POSITION(#{description} IN ul.description)
            </if>
            <if test="null != ipAddress and '' != ipAddress">
                AND POSITION(#{ipAddress} IN ul.ip_address)
            </if>
            <if test="null != startTime and '' != startTime">
                AND ul.create_time <![CDATA[>]]> #{startTime}
            </if>
            <if test="null != endTime and '' != endTime">
                AND ul.create_time <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY ul.create_time DESC
    </select>
</mapper>