<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiziplus.springboot.core.api.user.mapper.UserMapper">
    <select id="getUserInfoByUsername" resultType="User">
        SELECT *
        FROM user
        WHERE username = #{username}
        LIMIT 1
    </select>
    <select id="getUserInfoByUserId" resultType="User">
        SELECT *
        FROM user
        WHERE id = #{userId}
        LIMIT 1
    </select>
    <insert id="addUser">
        INSERT INTO user
        (username,password,create_time)
        VALUES
        (#{username},#{password},now())
    </insert>
    <select id="getList" resultType="User">
        SELECT *
        FROM user
    </select>
</mapper>