<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiziplus.springboot.mapper.system.SysUserMapper">
    <select id="getInfoByUsername" resultType="com.weiziplus.springboot.models.SysUser">
        SELECT *
        FROM sys_user
        WHERE username = #{username}
        limit 1
    </select>
    <select id="getUserList" resultType="java.util.Map">
        SELECT su.id,su.username,su.real_name as realName,su.allow_login AS allowLogin,su.suspend_num AS suspendNum,
        su.last_active_time AS lastActiveTime,su.create_time AS createTime,IFNULL(sr.name,'暂无权限') AS roleName,
        su.last_ip_address AS laseIpAddress
        FROM sys_user su
        LEFT JOIN sys_role sr ON sr.id = su.role_id
        WHERE su.id <![CDATA[>]]> 1
        <if test="null != userName and '' != userName">
            AND position(#{userName} IN su.username)
        </if>
        <if test="null != roleId">
            AND su.role_id = #{roleId}
        </if>
        <if test="null != allowLogin">
            AND su.allow_login = #{allowLogin}
        </if>
        <if test="null != lastActiveTime and '' != lastActiveTime">
            AND su.last_active_time LIKE concat(#{lastActiveTime},'%')
        </if>
        <if test="null != createTime and '' != createTime">
            AND su.create_time LIKE concat(#{createTime},'%')
        </if>
        ORDER BY su.create_time ASC
    </select>
    <select id="getUserInfoByName" resultType="com.weiziplus.springboot.models.SysUser">
        SELECT *
        FROM sys_user
        WHERE username = #{userName}
        LIMIT 1
    </select>
    <update id="resetUserPassword">
        UPDATE sys_user
        SET
        password = #{password}
        WHERE id = #{userId}
    </update>
    <select id="getInfoById" resultType="com.weiziplus.springboot.models.SysUser">
        SELECT *
        FROM sys_user
        WHERE id = #{id}
    </select>
    <update id="updateLastActiveTimeByIdAndIp">
        UPDATE sys_user
        SET last_active_time = now(),last_ip_address = #{ip}
        WHERE id = #{id}
    </update>
    <update id="updateRoleIdByUserIdAndRoleId">
        UPDATE sys_user
        SET role_id = #{roleId}
        WHERE id = #{userId}
    </update>
    <update id="suspendSysUser">
        UPDATE sys_user
        SET allow_login = 2,suspend_num = suspend_num + 1
        WHERE id = #{userId}
    </update>
    <update id="relieveSuspend">
        UPDATE sys_user
        SET allow_login = 0
        WHERE id = #{userId}
    </update>
</mapper>